<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'user/users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>検索結果</h2>
      <table class="table table-hover table-inverse">
        <% if @range == "User" %>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <td><%= image_tag user.get_profile_image(100,100) %></td>
            <td><%= link_to user.name, user_path(user.id) %></td>
            <td><%= link_to "フォロワー数：#{user.followers.count}", user_followers_path(user.id) %></td>
            <td><%= link_to "レビュー数：#{user.reviews.count} ", user_path(user.id) %></td>
          </tr>
          <% end %>
        </tbody>
        <% else %>
        <tbody>
          <% @movies.each do |movie| %>
          <tr>
            <td><%= link_to movie_path(movie.id) do %>
              <%= image_tag movie.image, size:'100x100' %>
              <% end %>
            </td>
            <td><%= link_to movie.title, movie_path(movie.id) %></td>
            <td>レビュー数：<%= movie.reviews.count %></td>
          </tr>
          <% end %>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>