<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(100,100) %></td>
          <td><%= link_to user.name, user_path(user.id) %></td>
          <td><%= link_to "フォロワー数：#{user.followers.count}", user_followers_path(user.id) %></td>
          <td><%= link_to "レビュー数：#{user.reviews.count} ", user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= movie.title %></td>
          <td><%= movie.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>