<div class='container'>
  <div class='row'>
    <div class='col-md-10 offset-md-1'>
      <h2><%= @movie.title %></h2>
        <table class='table'>
	      <tr>
          <tr>
            <td><%= image_tag @movie.image, size:'200x200' %></td>
            <td><%= @movie.body %></td>
          </tr>
            <td>❤︎<%= @movie.favorites.count %></td>
            <td><p>レビュー数：<%= @movie.reviews.count %></p></td>
            <% if current_admin %>
              <td><%= link_to '編集', edit_admin_movie_path(@movie), class: "btn btn-sm btn-success edit_movie_#{@movie.id}" %></td>
              <td><%= link_to '削除', admin_movie_path(@movie), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-danger destroy_movie_#{@movie.id}"%></td>
            <% end %>
        </tr>
        </table>
        <table class="table">
	    		<% @movie.reviews.each do |review|%>
	  	    	<tr>
	    	  		<td>
						    <%= link_to image_tag(review.user.get_profile_image(50,50)), admin_user_path(review.user) %>
						    <%= link_to review.user.name, admin_user_path(review.user) %>
					    </td>
					    <td>
						    <%= link_to review.title, admin_review_path(review.id)%>
				    	</td>
					    <td>
					    <% if current_admin %>
						    <%= link_to "編集", edit_admin_review_path(review), class: "btn-sm btn-success" %>
						    <%= link_to "削除", admin_review_path(review.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn-sm btn-danger" %>
					    <% end %>
					    </td>
			    	</tr>
			    <% end %>
	    	</table>
    </div>
  </div>
</div>
