<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <p><%= link_to "退会する", unsubscribe_path(@user) %></p>
  <% end %>

  <p>コメント件数：<%= @user.reviews.count %></p>
  <% @user.reviews.each do |review| %>
    <p><%= image_tag review.movie.image, size: "100x100" %></p>
    <%= link_to review.movie.title, movie_path(review.movie.id) %>
    <%= review.created_at.strftime('%Y/%m/%d') %>
    <%= link_to review.title, review_path(review) %>
    <% if review.user == current_user %>
      <%= link_to "編集", edit_review_path(review) %>
      <%= link_to "削除", review_path(review.movie, review), method: :delete %>
    <% end %>
  <% end %>

</div>