<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー詳細</h2>
      <%= render 'user/users/info', user: @user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2><%= @user.name %>のレビュー一覧</h2>
      <table class="table">
					<% @user.reviews.each do |review|%>
				<tr>
					<td><%= link_to movie_path(review.movie) do %>
					  <%= image_tag review.movie.image, size:'50x50' %>
					  <% end %>
						<%= link_to review.movie.title, movie_path(review.movie) %>
					</td>
					<td>
						<%= link_to review.title, review_path(review.id)%>
					</td>
					<td>
						<% if review.user_id == current_user.id %>
						<%= link_to "編集", edit_review_path(review), class: "btn-sm btn-success" %>
						<%= link_to "削除", review_path(review.id), method: :delete, class: "btn-sm btn-danger" %>
						<% end %>
					</td>
				</tr>
					<% end %>
			</table>
    </div>
  </div>
</div>