<p>
  <div id="star-rate<%= review.id%>"></div>
    <script>
       $('#star-rate<%= review.id%>').raty({
          size      : 36,
          starOff   : '<%= asset_path('star-off.png') %>',
          starOn    : '<%= asset_path('star-on.png') %>',
          half      : false,
          readOnly: true,
          score: <%= review.star %>,
        });
     </script>
   </div>
 </p>