<div>
  <p>コメント件数：<%= @reviews.count %></p>
  <% @reviews.each do |review| %>
    <p><%= image_tag review.movie.image, size: "100x100" %></p>
    <%= link_to review.movie.title, movie_path(review.movie.id) %>
    <p><%= image_tag review.user.get_profile_image(100,100) %></p>
    <%= link_to review.user.name, user_path(review.user.id) %>
    <%= review.created_at.strftime('%Y/%m/%d') %>
    <%= review.title %>
    <%= review.body %>
    <% if review.user == current_user %>
      <%= link_to "編集", edit_movie_review_path(review.movie, review) %>
      <%= link_to "削除", movie_review_path(review.movie, review), method: :delete %>
    <% end %>
  <% end %>
</div>