<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'user/users/info', user: current_user %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2><%= @review.movie.title %></h2>
  		<table class='table'>
  		  <tr>
         <td><%= image_tag @review.movie.image, size:'200x200' %></td>
         <td><%= @review.movie.body %></td>
        </tr>
      </table>
      レビュー
      <table class="table">
        <tr>
          <td>
            <%= link_to image_tag(@review.user.get_profile_image(50,50)), user_path(@review.user) %>
            <%= link_to @review.user.name, user_path(@review.user) %>
          </td>
          <td>
            <%= @review.title %>
          </td>
          <td>
            <% if @review.user == current_user %>
              <%= link_to "編集", edit_review_path(@review), class: "btn-sm btn-success" %>
              <%= link_to "削除", review_path(@review.id), method: :delete,class: "btn-sm btn-danger" %>
            <% end %>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <%= @review.body %>
          </td>

        </tr>
      </table>

      <table class="table">
        レビューへのコメント：<%= @review.comments.count %>件
					<% @review.comments.each do |comment|%>
				<tr>
					<td>
						<%= link_to image_tag(comment.user.get_profile_image(50,50)), user_path(comment.user) %>
						<%= link_to comment.user.name, user_path(comment.user) %>
					</td>
					<td>
						<%= comment.comment %>
					</td>
					<td>
						<% if comment.user == current_user %>
						<%= link_to "編集", edit_comment_path(comment), class: "btn-sm btn-success" %>
						<%= link_to "削除", comment_path(comment.id), method: :delete, class: "btn-sm btn-danger" %>
						<% end %>
					</td>
				</tr>
					<% end %>
			</table>
			<% if current_user %>
			<div class="post-comment">
				<%= form_for [@review, @comment] do |f| %>
				<div class="form-group">
          <%= f.text_area :comment, class: "form-control title",placeholder: "コメントをここに" %>
        </div>
				<%= f.submit "送信する" %>
				<% end %>
			</div>
			<% end %>
    </div>
  </div>
</div>