<h3>レビュー詳細</h3>
  <p><%= image_tag @review.movie.image, size: "100x100" %></p>
  <%= link_to @review.movie.title, movie_path(@review.movie.id) %>
  <p><%= image_tag @review.user.get_profile_image(100,100) %></p>
  <%= link_to @review.user.name, user_path(@review.user.id) %>
  <%= @review.created_at.strftime('%Y/%m/%d') %>
  <%= @review.title %>
  <%= @review.body %>
  <% if @review.user == current_user %>
    <%= link_to "編集", edit_review_path(@review) %>
    <%= link_to "削除", review_path(@review), method: :delete %>
  <% end %>
<div>
  <p>コメント件数：<%= @review.comments.count %></p>
  <% @review.comments.each do |comment| %>
    <p><%= image_tag comment.user.get_profile_image(100,100) %></p>
    <%= link_to comment.user.name, user_path(comment.user.id) %>
    <%= comment.created_at.strftime('%Y/%m/%d') %>
    <%= comment.comment %>
    <% if comment.user == current_user %>
      <%= link_to "編集", edit_comment_path(comment) %>
      <%= link_to "削除", comment_path(comment), method: :delete %>
    <% end %>
  <% end %>
</div>
  <% if current_user %>
  <div>
    <%= form_with model: [@review, @comment] do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
<% end %>