<h2>タイトル</h2>
<p><%= @movie.title %></p>

<p>画像</p>
  <% if @movie.image.attached? %>
    <%= image_tag @movie.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>

  <% if @movie.favorited_by?(current_user) %>
    <p>
      <%= link_to movie_favorites_path(@movie), method: :delete do %>
        ♥<%= @movie.favorites.count %> いいね
      <% end %>
    </p>
    <% else %>
    <p>
      <%= link_to movie_favorites_path(@movie), method: :post do %>
        ♡<%= @movie.favorites.count %> いいね
      <% end %>
    </p>
  <% end %>

<h2>本文</h2>
<p><%= @movie.body %></p>
<% if current_user %>
  <%= link_to "編集", edit_movie_path(@movie.id) %>
  <%= link_to "削除", movie_path(@movie.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>
<% end %>
<div>
  <p>レビュー件数：<%= @movie.reviews.count %></p>
  <% @movie.reviews.each do |review| %>
    <p><%= image_tag review.user.get_profile_image(100,100) %></p>
    <%= link_to review.user.name, user_path(review.user.id) %>
    <%= review.created_at.strftime('%Y/%m/%d') %>
    <%= link_to review.title, review_path(review) %>
    <% if review.user == current_user %>
      <%= link_to "編集", edit_review_path(review) %>
      <%= link_to "削除", review_path(review), method: :delete %>
    <% end %>
  <% end %>
</div>
<% if current_user %>
  <div>
    <%= form_with model: [@movie, @review] do |f| %>
      <%= f.text_area :title, rows: '5', placeholder: "タイトルをここに" %>
      <%= f.text_area :body, rows: '5', placeholder: "レビューをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
<% end %>