<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>ユーザー詳細</h2>
      <%= render 'user/users/info', user: current_user %>
    </div>
    <div class='col-md-9'>
    <h2>新着映画</h2>
      <div class = "row">
        <div class = "d-flex mx-auto" >
          <% @movies.each do |movie| %>
            <div class="card" style="width: 15rem;">
              <%= image_tag movie.image, size: "200x200" %>
              <div class="card-body">
                <div class="card-title"><%= link_to movie.title, movie_path(movie) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <h2>新着レビュー</h2>
      <div class = "row">
        <div class = "d-flex mx-auto" >
          <% @reviews.each do |review| %>
            <div class="card" style="width: 15rem;">
              <%= image_tag review.user.get_profile_image(200,200) %>
              <div class="card-body">
                <div class="card-title"><%= link_to review.title,review_path(review) %></div>
                <div class="card-title"><%= review.movie.title %></div>
                <td>
                  <div class="card-star">
                  <p>評価 :<%= review.star%>点</p>
                  <div id="star-rate<%= review.id%>"></div>
                  <script>
                    $('#star-rate<%= review.id%>').raty({
                     size      : 36,
                     starOff   : '<%= asset_path('star-off.png') %>',
                     starOn    : '<%= asset_path('star-on.png') %>',
                     starHalf: '<%= asset_path('star-half.png') %>',
                     half      : true,
                     readOnly: true,
                     score: <%= review.star %>,
                    });
                  </script>
                  </div>
		    	      </td>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>