<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= @user.email %>
  <%= @user.created_at %>
  <p><%= link_to "プロフィール編集", edit_admin_user_path(@user) %></p>
  <p><%= link_to "退会", admin_unsubscribe_path(@user) %></p>

  <p>コメント件数：<%= @user.reviews.count %></p>
  <% @user.reviews.each do |review| %>
    <p><%= image_tag review.movie.image, size: "100x100" %></p>
    <%= link_to review.movie.title, movie_path(review.movie.id) %>
    <%= review.created_at.strftime('%Y/%m/%d') %>
    <%= link_to review.title, admin_review_path(review.id) %>
      <%= link_to "編集", edit_admin_review_path(review.id) %>
      <%= link_to "削除", admin_review_path(review.id), method: :delete %>
  <% end %>

</div>